<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <services>
      <service name="DM.PetShop.Accounting.AccountingService"
               behaviorConfiguration="Behavior">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/Services/Accounting" />
          </baseAddresses>
        </host>
        
        <endpoint name=""
                  binding="wsHttpBinding"
                  contract="DM.PetShop.Accounting.IPetShopAccountingService" />
      </service>   
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
  
</configuration>