<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <services>
      <service name="DM.PetShop.PetShopService"
               behaviorConfiguration="Behavior">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/Services/PetShop" />
          </baseAddresses>
        </host>

        <endpoint name=""
                  binding="wsHttpBinding"
                  contract="DM.PetShop.IPetShopService" />
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="Tx"
                 transactionFlow="true" />
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://localhost:9000/Services/Accounting"
                binding="wsHttpBinding"
                bindingConfiguration="Tx"
                contract="DM.PetShop.Accounting.IPetShopAccountingService"
                name="Accounting">
      </endpoint>

      <endpoint address="http://localhost:9000/Services/Inventory"
                binding="wsHttpBinding"
                bindingConfiguration="Tx"
                contract="DM.PetShop.Inventory.IPetShopInventoryService"
                name="Inventory">
      </endpoint>
    </client>

  </system.serviceModel>

</configuration>