<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="DM.PetShop.OrderService" behaviorConfiguration="OrderService">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9000/PetShop"/>
                    </baseAddresses>
                </host>
                <endpoint address="OrderService"
                          binding="basicHttpBinding"
                          contract="DM.PetShop.IOrderContract"/>    
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="OrderService">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>