<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="OrderService" 
                     behaviorConfiguration="OrderService">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9000/Services"/>
                        <add baseAddress="net.msmq://localhost" />
                    </baseAddresses>
                </host>
                
                <endpoint address="private/Orders" 
                          binding="netMsmqBinding" 
                          bindingConfiguration="OrderServiceViaNetMsmq"
                          contract="IOrderService" />
            </service>
        </services>
        <bindings>
            <netMsmqBinding>
                <binding name="OrderServiceViaNetMsmq"
                         deadLetterQueue="System"
                         durable="true"
                         exactlyOnce="true"
                         maxRetryCycles="1"
                         receiveErrorHandling="Fault"
                         receiveRetryCount="5"
                         retryCycleDelay="00:00:01">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="OrderService">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>